<div class = "property-info">
            <img align="left" src="http://placehold.it/190x250" alt="" class="img-rounded img-responsive" style="padding-right: 10px" />
              <p><b>Street: </b> <%= property.street %></p>
              <p><b>City: </b> <%= property.city %></p>
              <p><b>State: </b> <%= property.state %></p>
              <p><b>Zipcode: </b> <%= property.zipcode %></p>
              <p><b>Price per month: </b><%= property.price %></p>
              <p><b>Number of Bedrooms: </b><%= property.bedrooms %></p>
              <p><b>Number of Bathrooms: </b><%= property.bathrooms %></p>
              <p><b>Featured Amenities: </b><%= property.amenities %></p>
              <p><b>Description: </b><%= property.description %></p>
              <br/>
    </div>