
<div class = container-fluid>
    <div class="row-fluid">
        <div class= "col-md-4 col-responsive">
                  <div class = "property-view" >
                    <%= image_tag('https://firebasestorage.googleapis.com/v0/b/home-ease.appspot.com/o/modern-home.jpg?alt=media&token=aade151d-b45a-4f5e-a621-acf09602d429',class: 'img-rounded img-responsive image-set-size',alt: '',align: 'left', id: 'example-id', style: 'padding-right: 10px; width: 100%') %>
                    <div>
            </div>
             </div>
            </div>
            
        <div class="col-md-8 col-responsive" >
                <div class = "property-info">
                    <table class = "table table-responsive">
                       <tbody>
                          <tr>
                             <td>Street:</td>
                             <td><%= property.street %></td>
                          </tr><tr>
                             <td>City:</td>
                             <td><%= property.city %></td>
                          </tr><tr>
                             <td>State:</td>
                             <td><%= property.state %></td>
                          </tr><tr>
                             <td>Zipcode:</td>
                             <td><%= property.zipcode %></td>
                          </tr><tr>
                             <td>Price per month:</td>
                             <td><%= property.price %></td>
                          </tr><tr>
                             <td>Number of Bedrooms:</td>
                             <td><%= property.bedrooms %></td>
                          </tr><tr>
                             <td>Number of Bathrooms:</td>
                             <td><%= property.bathrooms %></td>
                          </tr><tr>
                             <td>Featured Amenities:</td>
                             <td><%= property.amenities %></td>
                          </tr><tr>
                             <td>Description:</td>
                             <td><%= property.description %></td>
                          </tr>
                       </tbody>
                    </table>
                </div>
            <% if current_page?(controller: 'properties', action: 'show' )%>
                <div class = "col-md-3 col-responsive"><%= button_to "Edit Property", {:controller => :properties,
                 :action => 'edit', :id => @property.id }, :method => :get,:class => 'btn btn-primary' %></div>
                <div class = "col-md-3 col-responsive"><%= button_to "Remove property",{:controller => :properties,
                 :action => 'destroy', :id => @property.id }, :method => :delete,:class =>'btn btn-danger' %></div> 
            <% end %>
        </div>
    </div>
</div>


