

<div class = "property-info">
<div class = "property-view">
    <div class="col-md-4">
        <div class="row">
            <div id="carousel-bounding-box">
          <div id="myCarousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item" data-slide-number="0"><img class="img-rounded" > <%=image_tag (params[:id] + '.png')%></div>
              <div class="item" data-slide-number="1"><img class="img-rounded"> <%=image_tag (params[:id] + '.png')%></div>
              <div class="item" data-slide-number="2"><img class="img-rounded" src="http://lorempixel.com/300/250/business/1"></div>
              <div class="item" data-slide-number="3"><img class="img-rounded" src="http://lorempixel.com/300/250/city"></div>
              <div class="item" data-slide-number="4"><img class="img-rounded" src="http://lorempixel.com/300/250/city/1"></div>
              <div class="item" data-slide-number="5"><img class="img-rounded" src="http://lorempixel.com/300/250"></div>
            </div>
      
          </div>
          
          <!-- Carousel nav -->
          <div class="carousel-controls-mini">
              <a href="#myCarousel" data-slide="prev">‹</a>
              <a href="#myCarousel" data-slide="next">›</a>
          </div>
          
        </div>
           
        </div>
        
    </div>
    <div class="col-md-6" >
        <table class = "table table-condensed" border = "2px black">
           <tbody>
              <tr>
                 <td>Street:</td>
                 <td><%= property.street %></td>
              </tr>
              
              <tr>
                 <td>City:</td>
                 <td><%= property.city %></td>
              </tr>
              
              <tr>
                 <td>State:</td>
                 <td><%= property.state %></td>
              </tr>
              
              <tr>
                 <td>Zipcode:</td>
                 <td><%= property.zipcode %></td>
              </tr>
              
              <tr>
                 <td>Price per month:</td>
                 <td><%= property.price %></td>
              </tr>
              <tr>
                 <td>Number of Bedrooms:</td>
                 <td><%= property.bedrooms %></td>
              </tr>
               <tr>
                 <td>Number of Bathrooms:</td>
                 <td><%= property.bathrooms %></td>
              </tr>
               <tr>
                 <td>Featured Amenities:</td>
                 <td><%= property.amenities %></td>
              </tr>
               <tr>
                 <td>Description:</td>
                 <td><%= property.description %></td>
              </tr>
           </tbody>
        	
        </table>
        
    </div>
    <div class= "col-md-2">
        Buttons
        <div class = "row">
            <%= button_to "Edit Property", {:controller => :properties,
                 :action => 'edit', :id => @property.id }, :method => :get %> 
        </div>
        <div class = "row"> 
            <%= button_to "Remove property",{:controller => :properties,
                 :action => 'destroy', :id => @property.id }, :method => :delete %>   
        </div>
        <div class = "row">
             <%= form_tag( {action: :upload, id: property.id },multipart: true )do %>
              <%= file_field_tag 'image' %>
              
              <%= submit_tag(value = "Apply image", options = {}) %>
              <% end %>
        </div>
    </div>
</div>
             
  
</div>
