
<div class = "property-info">
<div class = "property-view">
            <%=image_tag (params[:id] + '.png'), class: 'img-rounded img-responsive',alt: '',size: "400x400",align: 'left', id: 'example-id', style: 'padding-right: 10px'%>
</div>
              <p><b>Street: </b> <%= property.street %></p>
              <p><b>City: </b> <%= property.city %></p>
              <p><b>State: </b> <%= property.state %></p>
              <p><b>Zipcode: </b> <%= property.zipcode %></p>
              <p><b>Price per month: </b><%= property.price %></p>
              <p><b>Number of Bedrooms: </b><%= property.bedrooms %></p>
              <p><b>Number of Bathrooms: </b><%= property.bathrooms %></p>
              <p><b>Featured Amenities: </b><%= property.amenities %></p>
              <p><b>Description: </b><%= property.description %></p>
              <br/>
              <%= form_tag( {action: :upload, id: property.id, controller: :properties},multipart: true )do %>
              <%= file_field_tag 'image' %>
              
              <%= submit_tag(value = "Apply image", options = {}) %>
              <% end %>
              <br/>


  
</div>
