<%content_for :side_content do %>
    <%= render "banner" %>
    <%= render partial: "property_widget", :locals => {property: @property} %>
    <div class="btn-group" role="group" aria-label="Basic example">
             
             <%= button_to "Edit Property", {:controller => :properties,
                 :action => 'edit', :id => @property.id }, :method => :get %> 
             <%= button_to "Remove property",{:controller => :properties,
                 :action => 'destroy', :id => @property.id }, :method => :delete %>        
    </div>
    <% (Tenant.where("property_id = '#{@property.id}'")).each do |tenant| %>
                <%= render partial: "tenant_widget", :locals => {tenant: tenant} %>
    <% end %>
<% end %>
