<% content_for :side_content do%>
<style>
  div.property-info{
   border: 2px solid black;
   height: 250px;
   width: 75%;
   padding: 20px;
  }
</style>



  <div class="container-fluid">
    <div class="side-body">
      <h1 align="center">Properties Banner Will Go here!!!!!</h2>

        <h3 align="center">
          Property Information
        </h3>

        <% (Property.all).each do |property| %>


         
          <div class = "property-info">
              <img align="left" src="http://placehold.it/190x250" alt="" class="img-rounded img-responsive" style="padding-right: 10px" />
              <p><b>Address: </b> <%= property.address %></p>
              <p><b>Expected Rent: </b><%= property.rent_amount %></p>
              <p><b>Number of Bedrooms: </b><%= property.number_bedrooms %></p>
              <p><b>Number of Bathrooms: </b><%= property.number_bathrooms %></p>
              <p><b>Featured Amenities: </b><%= property.amenities %></p>
          </div>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Edit Property</button>
                <button type="button" class="btn btn-secondary">Remove Property</button>
              </div>
          


<a  href="adding">link text</a>



          <% end %>

    </div>
  </div>
  <% end %>